@CHARSET "UTF-8";

/* 
사용자 정의 css 파일입니다.
기본적으로 제공하는 css 파일의 내용을 복사하여 오버라이딩 하여 사용합니다.
*/

/*예제 뷰어 메뉴*/
/*
.report_menu_div {
	position: absolute;
	top: 0px;
	width: 100%;
	height: 65px;
	overflow: visible;
	background-color: red;
	background-position: 5px 50%;
	background-repeat: no-repeat;
	-webkit-user-select: none; 
	-moz-user-select: none; 
	-khtml-user-select: none; 
	-ms-user-select: none;
}
*/

/*
필수 항목을 체크하지 않았을 때 필수 항목이 들어간 컨트롤에 아래의 스타일을 적용합니다.
*/
.eForm_NecessaryCheck{
	background-color : orange !important;
	opacity: 0.5 !important;
}


/*
입력 컨트롤에 포커스가 들어왔을 때 아래의 스타일을 적용합니다.
*/
.eform_textarea:focus{
	border:2pt solid Orange;
	outline: none;
}

.eform_control_focus{
	border:2pt solid Orange;
}

/*
목차에 관련된 스타일을 적용합니다.
*/
/*
.eform_toc_menu_top {
	position: absolute;
	left: 10px;
	top: 55px;
	height: 50px;
	width: 250px;
	background-color: rgba(243, 243, 243, 0.95);
	border-bottom: 2px solid rgb(212, 212, 212);
	box-sizing: border-box;
	border-radius: 10px 10px 0px 0px;
}

.eform_toc_menu_top_text {
	position: absolute;
	left: 5px;
	top: 15px;
	font-family: 나눔고딕;
	font-size: 13pt;
	color: rgb(115, 197, 215);
	font-weight: bold;
}

.eform_toc_menu_top_close {
	position: absolute;
	right: 10px;
	top: 17px;
	width: 19px;
	height: 19px;
	background-image: url(../img/eform/list_close.png);
	background-size: contain;
	cursor: pointer;
}

.eform_toc_menu_body {
	position: absolute;
	left: 10px;
	top: 105px;
	overflow-x: hidden;
	overflow-y: auto;
	width: 250px;
	bottom: 35px;
	background-color: rgba(243, 243, 243, 0.95);
	box-sizing: border-box;
}

.eform_toc_list_depth {
	position: relative;
	left: 0px;
	right: 0px;
	height: 30px;
	border-bottom: 1px solid rgb(212, 212, 212);
}

.eform_toc_nec_list_depth {
	position: relative;
	left: 0px;
	right: 0px;
	height: 30px;
	border-bottom: 1px solid rgb(212, 212, 212);
	background-image:url(../img/eform/nec_check.png);
	background-size: 15px 15px;
    background-repeat: no-repeat;
    background-position : 5px center;
}

.eform_toc_list_depth_text{
	position: absolute;
	font-family : 나눔고딕;
	font-weight: bold;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow:hidden;
	cursor: pointer;
}

.eform_toc_list_depth_pageNumber{
	position: absolute;
	font-family : 나눔고딕;
	white-space: nowrap;
	overflow:hidden;
	font-size: 10pt;
	top:7px;
	right:0px;
	width:30px;
	text-align: center;
}

.eform_toc_list_depth1_text {
	font-size: 12pt;
	color: rgb(215, 172, 135);
    top: 5px;
    bottom: 0px;
	
}

.eform_toc_list_depth2_text {
	font-size: 12pt;
	color: rgb(100, 100, 100);
    top: 5px;
    bottom: 0px;
}

.eform_toc_list_depth3_text {
	font-size: 11pt;
	color: rgb(100, 100, 100);
    top: 7px;
    bottom: 0px;
}

.eform_toc_menu_bottom {
	position: absolute;
	left: 10px;
	bottom: 25px;
	height: 10px;
	width: 250px;
	background-color: rgba(243, 243, 243, 0.95);
	box-sizing: border-box;
	border-radius: 0px 0px 10px 10px;
}
*/

.report_displayNone{
	position:absoulte !important;
	width:1px !important;
	height:1px !important;
	visibility: hidden !important;
	opacity:0 !important;
}

/*
사용자 정의 프로그래스 createUserProgress 함수를 사용하였을 때 동작합니다.
*/
.user_progress{
	background-position: 50% 50%;
	background-image: url(../img/efromProgress.gif);
	opacity: 0.5;
	background-color:gray;
}



/**------------------------------------------------------------ 인포뱅크 커스텀 css --------------------------------------------------**/

/*제일 좌측버튼*/
.eform_menu_leftEnd_button {display: none;}
.m_eform_menu_leftEnd_button {display: none;}
/*제일 우측버튼*/
.eform_menu_rightEnd_button {display: none;}
.m_eform_menu_rightEnd_button {	display: none;}
/* 확대축소콤보박스 */
.m_eform_menu_zoom_combo {	display: none;}
.eform_menu_zoom_combo {	display: none;}
/*프린트 버튼*/
.m_eform_menu_print_button {	display: none;}
.eform_menu_print_button {	display: none;}
/*형광펜 버튼*/
.eform_menu_doodle_button{	display: none;}
.m_eform_menu_doodle_button{	display: none;}
/*리포트 닫기 버튼*/
.eform_menu_close_button {	display: none;}
.m_eform_menu_close_button {	display: none;}

/*이전 버튼*/
.eform_menu_left_button {
	position: absolute;
    top: -7px;
    min-width: 70px;
    height: 50px;
    padding: 0 10px;
    border: 1px solid #cdd2d7;
    border-radius: 3px;
    background-color: #f5f5f5;
    background-image: none;
}
.m_eform_menu_left_button {
	left: 50px;
	position: absolute;
    top: -7px;
    min-width: 70px;
    height: 50px;
    padding: 0 10px;
    border: 1px solid #cdd2d7;
    border-radius: 3px;
    background-color: #f5f5f5;
    background-image: none;
}

/*다음 버튼*/
.eform_menu_right_button {
	position: absolute;
    top: -7px;
    min-width: 70px;
    height: 50px;
    padding: 0 10px;
    border: 1px solid #cdd2d7;
    border-radius: 3px;
    background-color: #f5f5f5;
    background-image: none;
}
.m_eform_menu_right_button {
	position: absolute;
    top: -7px;
    min-width: 70px;
    height: 50px;
    padding: 0 10px;
    border: 1px solid #cdd2d7;
    border-radius: 3px;
    background-color: #f5f5f5;
    background-image: none;
}

.txtLeftRight {
    height: 21px;
    margin-top: 2px;
    font-family: 'ex_bold';
    font-weight: bold;
    font-size: 23px;
    color: #6e6e6e;
    line-height: 21px;
    vertical-align: middle;
}

/*저장 버튼*/
.eform_menu_save_button {
	min-width: 82px;
    top: -7px;
    height: 50px;
    border-radius: 3px;
    background-color: #0c9fb5;
    background-image: none;
}
.m_eform_menu_save_button {
	left: unset;
	right: 55px;
	min-width: 82px;
    top: -7px;
    height: 50px;
    border-radius: 3px;
    background-color: #0c9fb5;
    background-image: none;
}
.txt {
    height: 21px;
    margin-top: 2px;
    font-family: 'ex_bold';
    font-weight: bold;
    font-size: 23px;
    color: #fff;
    line-height: 21px;
    vertical-align: middle;
}

/*상단바 height크기*/
.eform_menu_div {
	position: absolute;
	top: 0px;
	width: 100%;
	height: 80px;
	overflow: visible;
	background-color: #fafafa;
}
.m_eform_menu_div {
	position: absolute;
	top: 0px;
	width: 100%;
	height: 80px;
	overflow: visible;
	background-color: #fafafa;
}

/*pdf영역 top크기*/
.eform_paint_div {
	position: absolute;
	top: 80px;
	width: 100%;
	bottom: 0px;
	border: 1px solid silver;
	background-color:  #999999;
	overflow: auto;
	text-align: center;
}
.m_eform_paint_div {
	position: absolute;
	top: 80px;
	width: 100%;
	bottom: 0px;
	border: 1px solid silver;
	background-color:  #999999;
	overflow: auto;
	text-align: center;
}

/*페이지*/
.eform_input_table {
	position: absolute;
	left: 123px;
	height: 28px;
	width: 100px;
}


/**------------------------------------------------------------ 인포뱅크 커스텀 css --------------------------------------------------**/
