@charset "utf-8"; 

/* reset */
* {margin:0; padding:0;}
html, body {width:100%; height:100%;}
html {-webkit-tap-highlight-color:rgba(0,0,0,0.3);}
body {position:relative; color:#000; font-family:'ns_normal', 'dotum', '돋움', 'Apple-Gothic', 'Arial', 'Helvetica', 'sans-serif'; font-weight:normal; font-size:12px; color:#323232; background-color:#f0f0f0; letter-spacing:-0.5px; line-height:1.3; word-wrap:break-word; word-break:break-all; -webkit-text-size-adjust:none;}
body,input,textarea,select,table,button {font-family:'ns_normal', 'dotum', '돋움', 'Apple-Gothic', 'Arial', 'Helvetica', 'sans-serif'; font-weight:normal; font-size:12px; vertical-align:middle;}
ul, ol, li, dl, dt, dd {list-style-type:none;}
table {empty-cells:show; border-collapse:collapse; border-spacing:0;}
legend {display:none; position:absolute; visibility:hidden;}
caption {visibility:hidden; width:0px; height:0px; overflow:hidden; font-size:0px; line-height:0px;}
img, fieldset, iframe {border:0; vertical-align:top;}
optgroup {font-style:normal; font-size:0px; height:0px; line-height:0px;}
hr {display:none;}
a {text-decoration:none; cursor:pointer;}
button {border:0; border-radius:0; background-color:transparent; cursor:pointer; box-sizing:border-box;}
label {cursor:pointer; box-sizing:border-box;}
input, select, textarea {margin:0; padding:0; font-size:12px; color:#9b9b9b; vertical-align:middle; box-sizing:border-box;}
input {border-radius:0; -webkit-appearance:none;}
em, address {font-style:normal;}
textarea {border:0; border-radius:0;}
a, em, label, span, strong, button, img {display:inline-block;}
table {table-layout:fixed; width:100%; margin:0; padding:0; border-spacing:0; border:0; border-collapse:collapse;}
*+html table {border-collapse:collapse;}
button {outline:0; cursor:pointer;}
.hide {position:absolute; left:-9999px; top:-9999px; width:0; height:0; text-indent:-9999px; font-size:0; line-height:0;}

@font-face {
	font-family:'ns_normal';
	font-style:normal;
	font-weight:400;
	src:url(../fonts/NanumSquareRegular.eot);
	src:local('Nanum Barun Gothic'),
		local('NanumBarunGothic'),
		url(../fonts/NanumSquareRegular.eot?#iefix) format('embedded-opentype'),
		url(../fonts/NanumSquareRegular.woff2) format('woff2'),
		url(../fonts/NanumSquareRegular.woff) format('woff'),
		url(../fonts/NanumSquareRegular.ttf) format('truetype');
}
@font-face {
	font-family:'ns_bold';
	font-style:normal;
	font-weight:700;
	src:url(../fonts/NanumSquareBold.eot);
	src:local('Nanum Barun Gothic Bold'),
		local('NanumSquareBold'),
		url(../fonts/NanumSquareBold.eot?#iefix) format('embedded-opentype'),
/* 		url(../fonts/NanumSquareBold.woff2) format('woff2'), */
		url(../fonts/NanumSquareBold.woff) format('woff'),
		url(../fonts/NanumSquareBold.ttf) format('truetype');
}
@font-face {
	font-family:'ns_exbold';
	font-style:normal;
	font-weight:700;
	src:url(../fonts/NanumSquareExtraBold.eot);
	src:local('Nanum Barun Gothic Bold'),
		local('NanumSquareExtraBold'),
		url(../fonts/NanumSquareExtraBold.eot?#iefix) format('embedded-opentype'),
/* 		url(../fonts/NanumSquareExtraBold.woff2) format('woff2'), */
		url(../fonts/NanumSquareExtraBold.woff) format('woff'),
		url(../fonts/NanumSquareExtraBold.ttf) format('truetype');
}

#accessibility {font-size:0; line-height:0; text-indent:-5000px;}

.hidden {text-indent:-5000px; position:absolute; left:-5000px; font-size:0; width:0; height:0; line-height:0; overflow:hidden;}
.txt_hidden {text-indent:-5000px; overflow:hidden; font-size:0;}
.bg_n {background:none !important;}
.bd_n {border:none !important;}

.bold {font-family:'ns_bold';}
.ex_bold {font-family:'ns_exbold';}

.txt_c {text-align:center !important;}
.txt_l {text-align:left !important;}
.txt_r {text-align:right !important;}

.vt_t {vertical-align:top !important;}
.vt_m {vertical-align:middle !important;}
.vt_b {vertical-align:bottom !important;}

.fl_l {float:left !important;}
.fl_r {float:right !important;}
.fl_n {float:none !important;}

.bar {overflow:hidden; width:1px; height:9px; margin:0 7px;  padding:0 !important; vertical-align:baseline !important; text-indent:-9000px; background-color:#9b9b9b;}
.bul {overflow:hidden; width:1px; height:1px; padding:0 !important; vertical-align:middle !important; background-color:#424242;}

.clear::after {display:block; visibility:hidden; clear:both; content:"."; height:0; font-size:0;}
.clear {display:inline-block;}
.clear-both {clear:both;}

.color1 {color:#6e6e6e !important;}
.color2 {color:#9b9b9b !important;}
.color3 {color:#b9b9b9 !important;}

.bg_color1 {background-color:#6e6e6e !important;}
.bg_color2 {background-color:#37c0d3 !important;}

.bg_color3 {background-color:#50baab !important;}
.bg_color4 {background-color:#f76d51 !important;}

.bg_color5 {background-color:#ffffff !important;}
.bg_color6 {background-color:#0c9fb5 !important;}
.bg_color7 {background-color:#d45034 !important;}
.bg_color8 {background-color:#6e6e6e !important;}
.bg_color9 {background-color:#9b9b9b !important;}
.bg_color10 {background-color:#6e6e6e !important;}
.bg_color11 {background-color:#f76d51 !important;}
.bg_color12 {background-color:#ddd !important;}

.bd_color1 {border-color:#50baab !important;}

/* layout */
#header {position:relative; height:50px; text-align:center; background-color:#f76d51;}
#header h1.h1_tit {margin:0 14px; line-height:50px;}
#header .btn_page_prev {position:absolute; top:9px; left:14px; height:31px; text-align:center;}
#header .btn_page_prev span {position:relative; width:24px; padding-top:21px; font-weight:bold; font-size:11px; color:#ffbcb8;}
#header .btn_page_prev span:after {display:block; content:""; position:absolute; top:0; left:0; width:24px; height:17px; background:url('../img/common/sp_btn_icon.png') no-repeat -176px 0; background-size:200px 250px;}
#container {padding-bottom:20px;}
#footer .connect_box {display:flex; justify-content:center; align-items:center; height:34px; border-top:2px solid #cdd2d7; border-bottom:2px solid #cdd2d7;}
#footer .connect_box .box:first-child {border-left:0;}
#footer .connect_box .box {width:100%; padding:9px 0; border-left:2px solid #cdd2d7; text-align:center;}
#footer .connect_box .link {position:relative; padding-left:21px; font-weight:bold; font-size:14px; color:#6e6e6e;} 
#footer .connect_box .link:after{display:block; content:""; position:absolute; top:0; left:0; width:15px; height:15px; background:url('../img/common/sp_btn_icon.png') no-repeat; background-size:200px 250px;}
#footer .connect_box .link.link_tel:after {background-position:0 -28px;}
#footer .connect_box .link.link_cs:after {background-position:-28px -28px;}
#footer .con_notice_wrap {margin-bottom:14px; border-bottom:2px solid #cdd2d7; box-sizing:border-box;}
#footer .con_notice {position:relative; padding:10px 0; margin:0 14px;}
#footer .con_notice:after {display:block; content:""; clear:both;}
#footer .con_notice .tit {float:left; margin-right:4.5%; font-weight:bold; font-size:13px; color:#323232;}
#footer .con_notice .txt {float:left; width:55%; font-weight:bold; font-size:13px; color:#6e6e6e;}
#footer .con_notice .btn_more {position:absolute; top:50%; right:0; margin-top:-7px;} 
#footer .cs_center_wrap {padding-bottom:27px; border-bottom:2px solid #cdd2d7; box-sizing:border-box;}
#footer .cs_center.main {margin-top:14px;} 
#footer .cs_center {position:relative; margin:0 14px;}
#footer .cs_center .tit {font-weight:bold; font-size:14px; color:#323232;}
#footer .cs_center .txt_wrap span {vertical-align:middle;}
#footer .cs_center .txt_wrap .txt_tel {margin-right:4%; font-family:'ns_exbold'; font-size:18px; color:#323232;}
#footer .cs_center .txt_wrap .txt_weekday {font-weight:bold; font-size:14px; color:#6e6e6e;}
#footer .cs_center .txt_wrap .txt_weekday em {margin-right:7px;}
#footer .cs_center .txt_cont .txt {font-weight:bold; font-size:12px; color:#9b9b9b; line-height:16px;}
#footer .cs_center .btn_link {position:absolute; top:0; right:0;}
#footer .address {padding:17px 0; text-align:center;}
#footer .address .txt {font-weight:bold; font-size:11px; color:#9b9b9b; line-height:15px;}

/* Text */
.h1_tit {font-weight:bold; font-size:18px; color:#fff;}
.h2_tit {font-weight:bold; font-size:14px; color:#323232;}
.txt_type1 {font-size:14px; color:#323232;}
.txt_type2 {font-size:13px; color:#323232;}
.txt_type3 {font-size:12px; color:#323232;}

.txt_cont {padding-top:8px;}

/* form */
input[type='text'] {width:100%; height:40px; padding:0 14px; border:2px solid #9b9b9b; font-weight:bold; font-size:14px; color:#323232; text-align:left; background-color:#fff}
input[type='text']::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {color:#b9b9b9}

.check01 {height:24px; vertical-align:top;}
.check01 input {position:absolute; left:-9999px;}
.check01 input + label {position:relative; height:24px; padding-left:24px;}
.check01 input + label span {margin:5px 0 0 7px; font-weight:bold; font-size:13px; color:#6e6e6e;}
.check01 input + label:before {display:block; content:''; position:absolute; top:0; left:0; width:24px; height:24px; background:transparent url('../img/common/sp_btn_icon.png') no-repeat -176px -53px; background-size:200px 250px;}
.check01 input:checked + label:before {background-position:-176px -83px;}

.check01.round input + label:before {background-position:-144px -53px;}
.check01.round input:checked + label:before {background-position:-144px -83px;}
.check01 + .check01 {margin-left:15px;}

.select {position:relative; width:100%;}
.select select {position:relative; width:100%; height:40px; padding:0 14px; border:2px solid #4dbcab; font-weight:bold; font-size:14px; color:#323232; background:#fff url('../img/common/sp_select01.png') no-repeat 96% 50%; background-size:16px 9px; appearance:none; -webkit-appearance:none;}

/* Button */
.btn_more span {position:relative; padding-right:10px; font-weight:bold; font-size:13px; color:#9b9b9b; box-sizing:border-box;}
.btn_more span:after {display:block; content:""; position:absolute; top:1px; right:0; width:7px; height:12px; background:url('../img/common/sp_btn_icon.png') no-repeat -193px -24px; background-size:200px 250px;}

.btn_tel {position:relative; width:33px; height:33px; background-color:#9ba0a0; box-sizing:border-box;}
.btn_tel:after {display:block; content:""; position:absolute; top:6px; left:6px; width:21px; height:21px; background:url('../img/common/sp_btn_icon.png') no-repeat 0 0; background-size:200px 250px;}

.btn_type1 {position:relative; height:30px; padding:5px 16px 6px; border:2px solid #cdd2d7; border-radius:15px; font-weight:bold; font-size:13px; color:#6e6e6e; background-color:#f5f5f5; box-sizing:border-box;}
.btn_type1 span {position:relative; padding-left:20px; vertical-align:middle;}
.btn_type1 span:after {display:block; content:""; position:absolute; top:50%; left:0; width:16px; height:10px; margin-top:-6px; background:url('../img/common/sp_btn_icon.png') no-repeat 0 -105px; background-size:200px 250px;}
.btn_type1.bg_color2 {border-color:#37c0d3; color:#fff;}
.btn_type1.bg_color2 span:after {background-position:-22px -105px;}

.btn_type2 {position:relative; width:100%; height:54px; background-color:#50baab;}
.btn_type2 .txt {height:21px; margin-top:1px; font-family:'ex_bold'; font-weight:bold; font-size:18px; color:#fff; line-height:21px; vertical-align:middle;}
.btn_type2 .btn_icon {margin:0 3px;}
.btn_type10 {position:relative; width:100%; height:54px; background-color:#50baab;}
.btn_type10 .txt {height:21px; margin-top:1px; font-family:'ex_bold'; font-weight:bold; font-size:18px; color:#fff; line-height:21px; vertical-align:middle;}
.btn_type10 .btn_icon {margin:0 3px;}  

.btn_agree1 {position:relative; width:100%; height:54px; background-color:#50baab;}
.btn_agree1 .txt {height:21px; margin-top:1px; font-family:'ex_bold'; font-weight:bold; font-size:18px; color:#fff; line-height:21px; vertical-align:middle;}
.btn_agree1 .btn_icon {margin:0 3px;} 
.btn_agree1.on {background-color:#9b9b9b;}
.btn_agree1.on .btn_icon1 {background-position:0 -150px;}

.btn_type3 {position:relative; width:100%; height:54px; border:2px solid #cdd2d7; background-color:#f5f5f5;}
.btn_type3 .txt {height:21px; margin-top:1px; font-family:'ex_bold'; font-weight:bold; font-size:18px; color:#6e6e6e; line-height:21px; vertical-align:middle;}
.btn_type3 .btn_icon {margin:0 3px;} 

.btn_type4 {position:relative; width:100%; height:42px; border-radius:19px; background-color:#36bfd3;}
.btn_type4 .txt {height:21px; margin-top:1px; font-family:'ex_bold'; font-weight:bold; font-size:15px; color:#fff; line-height:21px; vertical-align:middle;}
.btn_type4 .btn_icon {margin:0 3px;} 

.btn_type5 {position:relative; width:100%; height:42px; background-color:#9b9b9b;}
.btn_type5 .txt {height:17px; margin-top:2px; font-family:'ex_bold'; font-weight:bold; font-size:14px; color:#fff; line-height:17px; vertical-align:middle;}
.btn_type5 .btn_icon {margin:0 3px;} 

.btn_type6 {position:relative; min-width:60px; height:33px; padding:0 10px; border:1px solid #cdd2d7; border-radius:3px; background-color:#f5f5f5;}
.btn_type6 .txt {height:21px; margin-top:2px; font-family:'ex_bold'; font-weight:bold; font-size:14px; color:#6e6e6e; line-height:21px; vertical-align:middle;}
.btn_type6 .btn_icon {margin:0 2px;} 
.btn_type7 {position:relative; min-width:82px; height:42px; border-radius:3px; background-color:#36bfd3;}
.btn_type7 .txt {height:21px; margin-top:2px; font-family:'ex_bold'; font-weight:bold; font-size:14px; color:#fff; line-height:21px; vertical-align:middle;}
.btn_type8 {position:relative; width:100%; height:42px; background-color:#36bfd3;}
.btn_type8 .txt {height:17px; margin-top:1px; font-family:'ex_bold'; font-weight:bold; font-size:14px; color:#fff; line-height:17px; vertical-align:middle;}
.btn_type8 .btn_icon {margin:0 3px;} 
.btn_type9 {position:relative; width:100%; height:42px; border:2px solid #cdd2d7; background-color:#fff;}
.btn_type9 .txt {height:17px; margin-top:1px; font-family:'ex_bold'; font-weight:bold; font-size:13px; color:#6e6e6e; line-height:17px; vertical-align:middle;}
.btn_type11 {position:relative; min-width:60px; height:33px; padding:0 10px; border-radius:3px; background-color:#f5f5f5;}
.btn_type11 .txt {height:21px; margin-top:2px; font-family:'ex_bold'; font-weight:bold; font-size:14px; color:#fff; line-height:21px; vertical-align:middle;}
.btn_type11 .btn_icon {margin:0 2px;} 
.btn_type12 {position:relative; width:100%; height:42px; background-color:#50baab;}
.btn_type12 .txt {height:18px; font-family:'ex_bold'; font-weight:bold; font-size:14px; color:#fff; line-height:18px; vertical-align:middle;}
.btn_type12 .btn_icon {margin:0 3px;} 
.btn_type13 {position:relative; min-width:60px; height:33px; padding:0 10px; border-radius:3px; background-color:#f5f5f5;}
.btn_type13 .txt {height:21px; margin-top:2px; font-family:'ex_bold'; font-weight:bold; font-size:14px; color:#fff; line-height:21px; vertical-align:middle;}
.btn_type13 .btn_icon {margin:0 2px;} 


button[class ^= btn_type].bg_color3 {border:1px solid #50baab;}

button[class *= btn_type].bg_color3.on {background-color:#0fa08c !important;}
button[class *= btn_type].bg_color4.on {background-color:#d45034 !important;}
button[class *= btn_type].bg_color4.on {background-color:#d45034 !important;}
button[class *= btn_type].bg_color11.on {background-color:#d45034 !important;}

button[class *= btn_type].bg_color3 .txt,
button[class *= btn_type].bg_color4 .txt,
button[class *= btn_type].bg_color7 .txt {color:#fff;}

.btn_icon {vertical-align:middle; background:url('../img/common/sp_btn_icon.png') no-repeat; background-size:200px 250px;}
.btn_icon1 {width:21px; height:21px; background-position:0 -122px;}
.btn_icon2 {width:21px; height:21px; background-position:-56px -122px;}
.btn_icon3 {width:21px; height:21px; background-position:-84px -122px;}
.btn_icon4 {width:21px; height:21px; background-position:-112px -122px;}
.btn_icon5 {width:21px; height:21px; background-position:-168px -122px;}
.btn_icon6 {width:21px; height:21px; background-position:-28px -122px;}
.btn_icon7 {width:21px; height:21px; background-position:-140px -122px;}
.btn_icon8 {width:21px; height:21px; background-position:-28px -150px;}
.btn_icon9 {width:9px; height:21px; background-position:-62px -150px;}
.btn_icon10 {width:9px; height:21px; background-position:-90px -150px;}
.btn_icon11 {width:9px; height:21px; background-position:-118px -150px;}
.btn_icon12 {width:9px; height:21px; background-position:-146px -150px;}
.btn_icon13 {width:19px; height:22px; background-position:0 -184px;}
.btn_icon14 {width:21px; height:21px; background-position:-28px -122px;}
.btn_sicon1 {width:18px; height:18px; background-position:0 -188px;}
.btn_sicon2 {width:19px; height:17px; background-position:-140px -124px;}


/* progress_bar */
.progress_bar_wrap {margin-bottom:20px; border:2px solid #ddd; background-color:#fafafa;}
.progress_bar {display:flex; justify-content:center; align-items:center; text-align:center;}
.progress_bar li:first-child {border-left:0;}
.progress_bar li:first-child:before {display:none;}
.progress_bar li {position:relative; width:100%; padding:11px 0; border-left:2px solid #dcdcdc; background-color:#fafafa;}
.progress_bar li:first-child:after {display:none;} 
.progress_bar li:before {display:block; content:""; position:absolute; top:50%; left:0; width:2px; height:9px; margin:-5px 0 0 -2px; background-color:#fafafa;}
.progress_bar li:after {display:block; content:""; position:absolute; top:50%; left:0; width:7px; height:7px; margin:-5px 0 0 -5px; border-right:2px solid #dcdcdc; border-bottom:2px solid #dcdcdc; background-color:inherit; transform:rotate(-45deg);}

.progress_bar .tit {display:block; margin-top:6px; font-weight:bold; font-size:14px; color:#9b9b9b;}
.progress_bar .step {background:url('../img/content/bg_progressbar.png') no-repeat 0 0; background-size:200px 78px;}
.progress_bar .step.step1 {width:21px; height:21px; background-position:0 0;}
.progress_bar .step.step2 {width:21px; height:21px; background-position:-53px 0;}
.progress_bar .step.step3 {width:21px; height:21px; background-position:-104px 0;}
.progress_bar .step.step4 {width:21px; height:21px; background-position:-155px 0;}

.progress_bar li.current .tit {color:#dc4b3c;}
.progress_bar li.current .step.step1 {width:45px; height:21px; background-position:0 -56px;}
.progress_bar li.current .step.step2 {width:45px; height:21px; background-position:-53px -56px;}
.progress_bar li.current .step.step3 {width:45px; height:21px; background-position:-104px -56px;}
.progress_bar li.current .step.step4 {width:45px; height:21px; background-position:-155px -56px;}

.progress_bar li.complete {background:url('../img/content/bg_pattern01.png') repeat; background-size:87px 65px;}
.progress_bar li.complete .tit {color:#dc4b3c;}
.progress_bar li.complete .step.step1 {width:21px; height:21px; background-position:0 -29px;}
.progress_bar li.complete .step.step2 {width:21px; height:21px; background-position:-53px -28px;}
.progress_bar li.complete .step.step3 {width:21px; height:21px; background-position:-104px -28px;}
.progress_bar li.complete .step.step4 {width:21px; height:21px; background-position:-155px -28px;}

/* form_type1 */
.form_type1 {padding:8px 0 0;}
.form_type1 .row {display:flex; padding:4px 0 3px;}
.form_type1 .txt_row {display:flex; padding:4px 0 12px;}
.form_type1 .header {min-width:90px; padding:13px 15px 0 0; vertical-align:top; box-sizing:border-box;}
.form_type1 .header .label {font-weight:bold; font-size:14px; color:#6e6e6e;}
.form_type1 .cont {flex:1; vertical-align:top; box-sizing:border-box;}
.form_type1 .cont .box:first-child {margin-top:0;}
.form_type1 .cont .box {display:flex; align-items:center; margin-top:5px;}
.form_type1 .cont .unit {margin:0 7px; font-size:14px; color:#b9b9b9;}
.form_type1 .cont .txt {padding-top:13px; font-weight:bold; font-size:14px; color:#323232;}
.form_type1 .cont .input_wrap {flex:1;}
.form_type1 .cont .txt_won {margin-left:5px; font-size:14px; color:#9b9b9b; vertical-align:middle;}
.form_type1 span[class *= check01] input + label span {font-weight:normal;}
.form_type1.b_line {margin-bottom:14px; padding-bottom:12px; border-bottom:2px solid #dcdcdc;}
.form_type1.b_line.last {margin-bottom:0;}

/* form_type2 */

.form_type2 {padding:8px 0 0;}
.form_type2 .row {display:flex; padding:4px 0 3px;}
.form_type2 .txt_row {display:flex; padding:4px 0 12px;}
.form_type2 .header {min-width:90px; padding-right:15px; vertical-align:top; box-sizing:border-box;}
.form_type2 .header .label {font-weight:bold; font-size:14px; color:#6e6e6e;}
.form_type2 .cont {flex:1; vertical-align:top; box-sizing:border-box;}
.form_type2 .cont .box:first-child {margin-top:0;}
.form_type2 .cont .box {display:flex; align-items:center; margin-top:5px;}
.form_type2 .cont .txt {font-weight:bold; font-size:14px; color:#323232;}
.form_type2.b_line {margin-bottom:14px; padding-bottom:12px; border-bottom:2px solid #dcdcdc;}
.form_type2.b_line.last {margin-bottom:0;}
.form_type2.b_line02 {border-bottom:2px solid #dcdcdc;}


/* agree_box */
.agree_box_wrap {margin-top:14px; border-top:2px solid #dcdcdc;}
.agree_box {border-bottom:2px solid #dcdcdc;}
.agree_box .header {display:flex; align-items:center; padding:7px 0;}
.agree_box .header .tit_wrap {flex:1; padding:0; border:0 none;}
.agree_box .header .link_wrap {padding-left:7px;} 
.agree_box .header .tit {flex:1; font-weight:bold; font-size:14px; color:#323232;}
.agree_box .cont {padding:0 14px 14px 14px; background-color:#f5f5f5; border-top:2px solid #dcdcdc;}
.agree_box .row {display:flex; align-items:center; margin-top:14px;}
.agree_box .label_wrap {flex:1; padding-right:20px;}
.agree_box .label_wrap .label {font-weight:bold; font-size:13px; color:#6e6e6e; line-height:16px;}

/* modal popup */
.blocker {overflow:auto; position:fixed; top:0; right:0; bottom:0; left:0;width:100%; height:100%; padding:0 26px; text-align:center; background-color:rgb(0,0,0); background-color:rgba(0,0,0,0.75); z-index:1;  box-sizing:border-box;}
.blocker:before{display:inline-block; content:""; height:100%; vertical-align:middle;}
.blocker.behind {background-color:transparent;}
.modal {display:inline-block; width:100%; position:relative; border-radius:19px; vertical-align:middle; background:#fff; z-index:9999; box-sizing:border-box;}
.modal .inner {position:relative; padding:17px 13px; text-align:left;}
.modal  .h2_tit {padding-bottom:4px; border-bottom:2px solid #cdd2d7;}
.modal .btn_wrap {padding-top:14px;}
.modal .txt_alert {padding:26px 0 12px; text-align:center;}
.modal a.close-modal {display:block;  position:absolute; top:17px; right:13px; width:15px; height:15px; text-indent:-9999px; background:url('../img/common/sp_btn_icon.png') no-repeat -155px 0; background-size:200px 250px;}

.modal.pop_loading a.close-modal {display:none;}
.modal.pop_loading {background-color:#fafafa;}
.pop_loading .inner {padding:26px 0; text-align:center;}
.pop_loading .gif_wrap {width:100%; height:100%;}
.pop_loading .gif_wrap img {width:68px; height:68px;}
.pop_loading .txt {margin-top:16px; font-family:'ex_bold'; font-weight:bold; font-size:18px; color:#323232;}
.pop_loading .desc {margin-top:13px; font-size:13px; color:#6e6e6e; line-height:19px;}

.txt_style01 {font-size:18px; color:#323232;}
.txt_style02 {font-size:13px; color:#6e6e6e; text-align:center;}

.txt_color01 {color:#0ca0b5;}
.txt_color02 {color:#dc4b3c;}

#wrapper {overflow:hidden; position:relative; width:100%;}


/* ============================= container ============================ */

#container .contents {padding:0 14px;}
.contents .cont_txt_wrap {padding-bottom:6px; text-align:center;}
.contents .cont_txt_wrap .h2_tit {font-family:'ns_exbold'; font-size:16px;}
.contents .cont_txt_wrap.style02 {padding:20px 0 6px;}
.contents .cont_txt_wrap.style02 span {display:inline;}
.contents .contbox {position:relative; margin-top:7px; padding:20px 17px; background-color:#fff; border:1px solid #e9e9e9; border-radius:1px; box-sizing:border-box;}
.contents .contbox.first,
.contents .notibox.first {margin-top:14px;}
.contents .notibox {position:relative; margin-top:7px; padding:20px 17px; background-color:#fff; border:1px solid #e9e9e9; border-radius:1px; box-sizing:border-box;}
.contbox h2.cont_tit {font-family:'ns_exbold'; padding-bottom:10px; font-size:14px; font-weight:bold; border-bottom:1px solid #9b9b9b;}
.contbox h2.cont_tit.style02 {font-family:'ns_exbold'; padding-bottom:10px; font-size:14px; font-weight:bold; border:0;}
.contbox .tit_wrap {padding-bottom:10px; font-weight:bold; border-bottom:1px solid #cdd2d7;}
.contbox .tit_wrap:after {content:''; display:block; clear:both;}
.contbox .tit_wrap h2.cont_tit {float:left; font-size:14px; padding:0; border:0;}
.contbox .tit_wrap .info {float:right; position:relative; padding-left:18px; font-size:13px;}
.contbox .tit_wrap .info:before {content:''; display:block; position:absolute; top:1px; left:0; width:14px; height:14px; background:url(../img/content/img_info.gif) no-repeat; background-size:cover;}
.contbox .txt_wrap {border-bottom:1px solid #cdd2d7; box-sizing:border-box;}
.contbox.first .txt_wrap {padding:14px;}
.contbox.first .txt_wrap.style02 {padding:0 0 14px 0;}

.contents .btn_wrap {margin-top:14px;}
.contents .btn_wrap.style02 {margin:0 0 14px 0;}



.contbox .cont_txt {padding-left:77px; font-size:14px; font-weight:bold;}
.contbox .cont_txt.type01 {margin-bottom:10px; padding-left:80px; font-size:13px; font-weight:normal; color:#6e6e6e;}
.contbox .cont_txt.type02 {margin-top:2px; font-size:14px; line-height:18px;}
.contbox .cont_txt.type03 {padding:0; margin:94px 0 14px; font-size:18px; text-align:center;}

.notibox .noti_wrap {position:relative;}
.notibox .noti_wrap:after {content:''; display:block; width:9px; height:17px; position:absolute;top:50%; right:0; margin-top:-8px; background:url(../img/common/sp_btn_icon.png) no-repeat; background-size:200px 250px; background-position:-90px -152px;}
.notibox .noti_wrap.style02:after {content:none;}
.notibox .noti_wrap .date {padding-top:4px; color:#9b9b9b; line-height:13px;}
.contents .noti_contbox {padding:20px 14px; font-size:14px; color:#6e6e6e; background-color:#fafafa; border:1px solid #e9e9e9; border-top:0 none; line-height:20px;}


.cont_txt .txt_style01.ex_bold {display:block; margin-bottom:14px;}


.ico_style01 {position:absolute; top:18px; left:18px; width:68px; height:68px; background:url(../img/content/img_icon01.png) no-repeat; background-size:cover;}
.ico_style02 {position:absolute; top:59px; left:45px; width:32px; height:42px; background:url(../img/content/img_icon02.png) no-repeat; background-size:cover;}
.ico_style03 {position:absolute; top:26px; left:50%; width:68px; height:68px; margin-left:-23px; background:url(../img/content/img_icon03.png) no-repeat; background-size:cover;}
.ico_style04 {position:absolute; top:26px; left:50%; width:78px; height:78px; margin-left:-39px; background:url(../img/content/img_icon04.png) no-repeat; background-size:cover;}

.ico_style05 {position:absolute; top:26px; left:50%; width:74px; height:68px; margin-left:-37px; background:url(../img/content/img_icon05.png) no-repeat; background-size:cover;}
.ico_style07 {position:absolute; top:26px; left:14px; width:73px; height:105px; background:url(../img/content/img_icon07.png) no-repeat; background-size:cover;}


/* list */
.list_style01.style02 {margin-top:14px;}
.list_style01 li {position:relative; margin-top:7px; padding-left:10px; font-size:13px;}
.list_style01 li:before {content:''; display:block; position:absolute; top:6px; left:0; width:4px; height:1px; background-color:#6e6e6e;}
.list_style01 li:first-child {margin-top:0;}
.list_style02 li {margin-top:10px; font-size:13px; font-weight:bold; color:#6e6e6e;}
.list_style02 li .num {margin-right:7px; color:#323232;}
.list_style02 li:first-child {margin-top:0;}
.list_wrap {padding:14px; border-bottom:1px solid #cdd2d7;}

/* form_type2 */

.form_type2 {padding:8px 0 0;}
.form_type2 .row {display:flex; padding:4px 0 3px;}
.form_type2 .txt_row {display:flex; padding:4px 0 12px;}
.form_type2 .txt_row.style02 {display:flex; padding:4px 0 12px; border-bottom:1px solid #cdd2d7;}
.form_type2 .header {min-width:90px; padding-right:15px; vertical-align:top; box-sizing:border-box;}
.form_type2 .header .label {font-weight:bold; font-size:14px; color:#6e6e6e;}
.form_type2 .cont {flex:1; vertical-align:top; box-sizing:border-box;}
.form_type2 .cont .box:first-child {margin-top:0;}
.form_type2 .cont .box {display:flex; align-items:center; margin-top:5px;}
.form_type2 .cont .box .list_style01 li {position:relative; padding-left:10px; font-size:14px; font-weight:bold;}
.form_type2 .cont .box .list_style01 li:before {content:''; display:block; position:absolute; top:7px; left:0; width:4px; height:1px; background-color:#6e6e6e;}
.form_type2.b_line {margin-bottom:14px; padding-bottom:12px; border-bottom:2px solid #dcdcdc;}
.form_type2.b_line.last {margin-bottom:0;}

/* table */
table tbody td.btn_wrap {padding:14px;}
.tbl_style01 {border-top:2px solid #9b9b9b; text-align:center;}
.tbl_style01 thead {background-color:#f5f5f5; border-bottom:2px solid #dcdcdc;}
.tbl_style01 thead th, .tbl_style01 tbody td {padding:14px 0;}
.tbl_style01 thead th {font-size:14px; font-weight:bold;}
.tbl_style01 tbody td {font-size:14px; font-weight:bold; color:#6e6e6e; border-left:2px solid #dcdcdc; border-bottom:2px solid #dcdcdc;}
.tbl_style01 td.first {border-left:0 none;}

.tbl_style02 {border-top:2px solid #9b9b9b;}
.tbl_style02 tbody th, .tbl_style02 tbody td {border-bottom:2px solid #dcdcdc;}
.tbl_style02 thead th {font-size:14px; font-weight:bold;}
.tbl_style02 tbody th {font-size:14px; font-weight:bold; background-color:#f5f5f5; text-align:center; vertical-align:middle;}
.tbl_style02 tbody td {position:relative; padding:11px 0 11px 14px; font-size:14px; font-weight:bold; color:#6e6e6e;}
.tbl_style02 tbody td.left_border:before {content:''; display:block; width:1px; position:absolute; top:11px; left:0; bottom:11px; background-color:#e9e9e9;}
.tbl_style02 tbody td .ex_bold {font-size:15px;}

/* main */
.main_cont {padding:39px 0; background-color:#fff; text-align:center; box-sizing:border-box;}
.main_cont h2.main_tit {font-size:20px; font-weight:bold; line-height:30px;}
.main_cont h2.main_tit .ex_bold {font-size:26px; color:#09a1b8;}
.main_btn_wrap {margin-top:14px;}
.main_btn_wrap ul {margin-left:-7px;}
.main_btn_wrap ul:after {content:''; display:block; clear:both;}
.main_btn_wrap ul li {float:left; width:50%; padding-left:7px; box-sizing:border-box;}
.main_btn_wrap ul li .txt.style02 {margin-top:3px;}
.contents .main_contbox {margin-top:14px; padding-right:0;}
.main_contbox .list_style01 {padding-left:85px;}
.main_contbox .list_style01 li {margin-top:4px;}


